/*for board ripple*/
.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}



/*main menu css*/
.mainmenu{
    margin-bottom:50px;background:no-repeat center center;
    background-color:#868e96;background-attachment:scroll;
    position:sticky;-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;background-size:cover;
    height:600px;
}

.mainmenu.mainmenu2 {
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    vertical-align: center;
}
.mainmenu.overlay {
	position:absolute;top:0;left:0;height:100%;width:100%;
	background-color:#212529;opacity:.5
}
.mainmenu.mainmenu2, .mainmenu.sub-heading{
    padding:200px 0 150px;color:#fff;
    text-align: center;
}

@media only screen and (min-width:768px){ .mainmenu.page-heading,.mainmenu.post-heading,.mainmenu.site-heading{padding:200px 0}}

